@model PhoneBookMonolithic.Models.Contact

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyad" class="control-label"></label>
                <input asp-for="Soyad" class="form-control" />
                <span asp-validation-for="Soyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firma" class="control-label"></label>
                <input asp-for="Firma" class="form-control" />
                <span asp-validation-for="Firma" class="text-danger"></span>
            </div>

            <fieldset>
                <legend>İletişim Bilgileri</legend>
                <div class="row">
                    <button id="btnNewInfo">Yeni Bilgi Ekle</button>
                </div>
                <span style="display:none;" id="spnInfoCount">@Model.CommuncationInfos.Count</span>
                <div class="divInfosContainer col-12">
                    @for (var i = 0; i < Model.CommuncationInfos.Count; i++)
                    {
                        @*<partial name="_partialComInfoCreate" model="i"></partial>*@
                        @await Component.InvokeAsync("CommunicationInfoComponent", new { count = i });
                    }
                </div>
            </fieldset>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script>
    $(document).ready(function  (){
        $("#btnNewInfo").on("click",function(e){
            e.preventDefault();
            createNewCommunicationInfo($("#spnInfoCount").text());
        });

    });
    function createNewCommunicationInfo(count){
        $.ajax({
            type: "POST",
            url: "/Contact/GetComInfoCreateFields",
            data: { "count": count },
            success: function (response) {
                $(response).appendTo(".divInfosContainer");
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        var _c=$("#spnInfoCount").text();
        $("#spnInfoCount").text(Number(_c)+1);
    }


    function RemoveInfo(e){
       // e.preventDefault(e);
        var element=$(e);
        console.log(element.attr("data-index"));

        $(".divComInfo[data-index="+element.attr("data-index")+"]").remove();
        var _c=$("#spnInfoCount").text();
        $("#spnInfoCount").text(Number(_c)-1);

        $(".divComInfo").each(function(index){
            $(this).attr("data-index",index);
            $(this).find("select,input").each(function(ii){
                var oldName=$(this).attr("name");
                if (oldName){
                    $(this).attr("name",oldName.replace(/\d+/,index));
                }
                var oldId=$(this).attr("id");
                if(oldId){
                    $(this).attr("id",oldId.replace(/\d+/,index));
                }
            });
        });

    }

    
    function  ProperInputSet(e){
        var element=$(e);
        //alert(element.val());
        var index=element.attr("data-index");
        $.ajax({
            url: "/Contact/GetProperInputField",
            type: "post",
            dataType: "html",
            beforeSend: function (x) {
            },
            data: {    "count":index,"type":element.val() },
            success: function (result) {
                $("div.divComInfo[data-index="+index+"] .divData").html("");
                $(result).appendTo("div.divComInfo[data-index="+index+"] .divData");
            }
        });

    }

</script>
}
