@model PhoneBookMonolithic.Models.Contact

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UUID" class="control-label"></label>
                <input asp-for="UUID" class="form-control" disabled />
                @Html.HiddenFor(m=>m.UUID)
                <span asp-validation-for="UUID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyad" class="control-label"></label>
                <input asp-for="Soyad" class="form-control" />
                <span asp-validation-for="Soyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firma" class="control-label"></label>
                <input asp-for="Firma" class="form-control" />
                <span asp-validation-for="Firma" class="text-danger"></span>
            </div>
            <fieldset>
                <legend>İletişim Bilgileri</legend>
                <div class="row">
                    <button id="btnNewInfo">Yeni Bilgi Ekle</button>
                </div>
                <div class="divInfosContainer col-12">
                    @if (Model.CommuncationInfos != null)
                    {
                        <span style="display:none;" id="spnInfoCount">@Model.CommuncationInfos.Count</span>
                        @for (var i = 0; i < Model.CommuncationInfos.Count; i++)
                        {
                            <partial name="_partialComInfoEdit" model="@(new Tuple<int,PhoneBookMonolithic.Models.CommunicationInfo>(i,Model.CommuncationInfos[i]))"></partial>
                        }
                    }

                </div>
            </fieldset>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script>
    $(document).ready(function  (){
        $("#btnNewInfo").on("click",function(e){
            e.preventDefault();
            createNewCommunicationInfo($("#spnInfoCount").text());
        });

    });
    function createNewCommunicationInfo(count){
        $.ajax({
            type: "POST",
            url: "/Contact/GetCommunicationInfoCreatePartial",
            data: { "count": count },
            success: function (response) {
                $(response).appendTo(".divInfosContainer");
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        var _c=$("#spnInfoCount").text();
        $("#spnInfoCount").text(Number(_c)+1);
    }


    function RemoveInfo(e){
       // e.preventDefault(e);
        var element=$(e);
        console.log(element.attr("data-index"));

        $(".divComInfo[data-index="+element.attr("data-index")+"]").remove();
        var _c=$("#spnInfoCount").text();
        $("#spnInfoCount").text(Number(_c)-1);


        $(".divComInfo  select").each(function(index){
            $(this).attr("name","CommuncationInfos["+index+"].InfoType");
            $(this).attr("id","CommuncationInfos_"+index+"__InfoType");
        });
        $(".divComInfo  input").each(function(index){
            $(this).attr("name","CommuncationInfos["+index+"].Value");
            $(this).attr("id","CommuncationInfos_"+index+"__Value");
        });


    }
</script>
}
